*{
    background-color: rgb(230, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small
}
#form{
    
    padding: 10px;
    padding-left: 10px;
    margin: 10px;
    
}
.star{
    color: red;
}
input,select,button{
    border-radius: 3px;
    border-color: orange;
    margin-top: 5px;
}
.First{
    width: 47%;
}
.Last{
    width: 46%;
}
.maxWidth{
    width: 95%;
}
#city,#Country{
    margin-left: 5px;
}
#buttons{
    align-items: center;
}